/**
 * @file
 * Main stylesheet for Boulton theme.
 */

/**
 * Generic ===============================
 */

/**
 * Help
 */
#help {
  background: #e38900;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
}
#help a {
  color: #fff;
  text-decoration: underline;
}
#help > h2.label {
  background: url(../images/expand.png) no-repeat scroll right 11px #e38900;
  border-radius: 0 0 3px 3px;
  bottom: -22px;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 3px 18px 3px 6px;
  position: absolute;
  right: 40px;
  z-index: 2;
}
#help.expandable > h2.label {
  cursor: pointer;
}
#help.expanded > h2.label {
  background-position: right -39px;
}
#help > .region-help {
  display: none;
  margin: 0;
  max-width: 44em;
  padding: 30px 40px 20px;
}
#help:hover > .region-help {
  display: block;
}
#help.expandable:hover > .region-help {
  display: none;
}
#help div.more-help-link {
  float: right;
  width: 8em;
}

.more-help-link a,
.filter-tips-more a {
  background: transparent url(../images/help.png) no-repeat scroll 0 50%;
  padding-left: 18px;
}

/**
 * Pagers
 */
.item-list .pager {
  margin-top: 20px;
  text-align: right;
}

.item-list .pager .pager-text {
  margin: 0 0.75em;
}

.pager-total {
  color: #777;
  font-size: 0.8333em;
}

.item-list .pager a {
  padding: 0 5px;
}

.item-list .pager a.active {
  color: #0074BD;
}

/**
 * Branding =================================
 */

#branding {
  padding: 26px 40px 0 40px;
}

#branding h1.page-title {
  font-size: 1.538em;
  padding-bottom: 12px;
}

#branding div.breadcrumb {
  font-size: 0.9em;
  padding-bottom: 8px;
}

/**
 * Blue header.
 */
.color-scheme-blue #branding {
  background: #DFEAF2;
  color: #A0A2A5;
}

.color-scheme-blue #branding a.active {
  color: #A6A7A2;
}

.color-scheme-blue ul.primary li a,
.color-scheme-blue ul.primary li a:link,
.color-scheme-blue ul.primary li a.active,
.color-scheme-blue ul.primary li a:active,
.color-scheme-blue ul.primary li a:visited,
.color-scheme-blue ul.primary li a:hover,
.color-scheme-blue ul.primary li.active a,
.color-scheme-blue ul.action-links li {
  background-color: #B7BBBA;
}

/**
 * Dark header.
 */
.color-scheme-dark #branding {
  background: #4B4C46;
  color: #A6A7A2;
}

.color-scheme-dark #branding h1.page-title {
  color: #FFF;
}

.color-scheme-dark #branding .breadcrumb a,
.color-scheme-dark #branding .block a {
  color: #FFF;
}

/**
 * Green header.
 */
.color-scheme-green #branding {
  background: #cfe7d5;
  color: #A2AFA2;
}

.color-scheme-green ul.primary li a,
.color-scheme-green ul.primary li a:link,
.color-scheme-green ul.primary li a.active,
.color-scheme-green ul.primary li a:active,
.color-scheme-green ul.primary li a:visited,
.color-scheme-green ul.primary li a:hover,
.color-scheme-green ul.primary li.active a,
.color-scheme-green ul.action-links li {
  background-color: #A2AFA2;
}

/**
 * Layout ================================
 */
#branding div.block {
  background: transparent;
  width: auto;
}

/**
 * Pages ===============================
 */

/**
 * Admin page
 */
div.admin-panel {
  background: #F8F7F2;
  border-color: #D3D4CF;
  padding: 14px;
}

ul.admin-list.compact li {
  list-style-type: none;
  margin-left: 0;
  min-height: 0;
}

/**
 * Edit content page
 */
#node-admin-filter ul {
  margin-bottom: 10px;
}

#node-admin-content fieldset,
#user-filter-form fieldset,
#user-admin-account fieldset,
#path-admin-filter-form fieldset {
  border: none;
  border-top: 1px solid #D3D4CF;
  padding: 3em 0 0;
}

#node-admin-content fieldset .fieldset-legend,
#user-filter-form fieldset .fieldset-legend,
#user-admin-account fieldset .fieldset-legend,
#path-admin-filter-form fieldset .fieldset-legend {
  margin-left: 0;
}

#edit-options .form-submit {
  border-radius: 5px;
  font-size: 0.885em;
  font-weight: normal;
  letter-spacing: 0.25px;
  margin-top: -1px;
  margin-bottom: 0;
  padding: 4px 6px 3px;
  text-transform: uppercase;
}

/**
 * Add content page
 */
ul.node-type-list,
ul.admin-list {
  margin-left: 0;
}

ul.node-type-list li,
ul.admin-list li {
  background-image: none;
  border-top: 1px solid #D3D4CF;
  margin-top: 10px;
  min-height: 40px;
}

ul.node-type-list li:last-child,
ul.admin-list li:last-child {
  border-bottom: 1px solid #D3D4CF;
  padding-bottom: 10px;
}

.admin-panel ul.admin-list li:last-child,
ul.admin-list.compact li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* Content type icons */
ul.admin-list li > a,
ul.admin-list li > span > a {
  background: url("../images/list-item.png") no-repeat scroll 0 0 transparent;
}

ul.admin-list .link-node-add-page {
  background-image: url(../images/icons/page.png);
}

ul.admin-list .link-node-add-article {
  background-image: url(../images/icons/article.png);
}

/**
 * Modules page
 */
#system-modules fieldset {
  background: #F3F4EE;
  border: none;
}

#system-modules fieldset table,
#system-modules fieldset table th,
#system-modules fieldset table tr,
#system-modules fieldset table tr td:last-child {
  border: none;
  margin: 0;
}

#system-modules fieldset table thead tr,
#system-modules fieldset table th {
  background: transparent;
  display: none;
}

#system-modules fieldset table tr {
  background: #FFF;
  border-top: 5px solid #F3F4EE;
}

#system-modules fieldset table td {
  vertical-align: top;
}

#system-modules fieldset table tr td.description {
  color: #666;
  font-size: 11.5px;
}

#system-modules td.help,
#system-modules td.permissions,
#system-modules td.configure {
  font-size: 11.5px;
}

div.admin-requirements,
div.admin-required {
  color: #666;
  font-size: 10px;
}

/**
 * Appearance page
 */
.system-themes-list-disabled {
  border-top: 1px solid #D3D4CF;
}

/**
 * Updates & Translation updates pages
 */
div.update {
  margin-bottom: 0.75em;
}

/**
 * Blocks ======================================
 */
.block .more-link {
  font-size: 12px;
}

#block-node-recent .more-link {
  padding: 0 10px 5px 0;
}

#block-node-recent .content table a {
  font-size: 11px;
}

#block-node-recent .content .node-title,
#block-node-recent .content .node-auhtor {
  float: left;
  margin-right: 0.5em;
}

#block-node-recent .content .node-title a {
  font-size: 1em;
}

#block-node-recent .content td.edit {
  padding-right: 0;
}

#block-node-recent .content td.edit,
#block-node-recent .content td.delete {
  visibility: hidden;
}

#block-node-recent .content tr:hover td.edit,
#block-node-recent .content tr:hover td.delete {
  visibility: visible;
}

#block-user-online .content p {
  font-size: 11px;
  margin-top: 0;
}

/**
 * Navigation ================================
 */

/**
 * Breadcrumbs
 */
.breadcrumb {
  margin-left: -3px;
}

.breadcrumb a {
  padding: 0 3px;
}

/**
 * Tabs
 */
ul.primary {
  clear: right;
  margin-bottom: -1px;
}

ul.primary li {
  display: block;
  float: left;
  margin: 0 2px 0 0;
}

ul.primary li a,
ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  border: none;
  color: #222 !important;
  padding: 2px 16px 8px;
}

ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  background-color: #FFFFFF;
}
ul.secondary {
  padding-right: 0;
}
ul.secondary li {
  margin: 0 2px;
}

ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 4px 10px;
}

ul.secondary li a {
  background-color: #E1E2DC;
  color: #222;
}

/**
 * Messages and warnings ==========================
 */
div.messages {
  background-position: 10px 13px;
  border: none;
  font-size: 12px;
  padding-left: 30px;
}

div.messages a {
  text-decoration: underline;
}

div.status {
  background-image: url("../images/ok.png");
}

div.status,
.ok {
  background-color: #F2FFE3;
  color: #235600;
}

div.status a {
  color: #235600;
}

div.error {
  background-image: url("../images/error.png");
}

div.error,
.error {
  color: #9F2E0B;
}

.error a {
  color: #9F2E0B;
}

div.warning {
  background-image: url("../images/warning.png");
  margin-bottom: 10px;
}

div.warning,
.warning {
  color: #DB8900;
}

.warning a {
  color: #DB8900;
}

/**
 * Form items ===============================
 */
form {
  margin: 0 0 10px;
}

.form-item {
  padding: 10px 0 0;
}

input.form-autocomplete,
input.form-text,
input.form-file,
select.form-select {
  font-size: 1em;
}

input.form-autocomplete,
input.form-text,
textarea.form-textarea {
  padding: 3px;
}

form input[disabled],
form select[disabled] {
  background-color: #FAFBF5;
  border-color: #D3D4CF;
  color: #D3D4CF;
}

.form-item label {
  margin: 0 0 3px;
  text-transform: uppercase;
}

fieldset .form-item label {
  text-transform: none;
}

fieldset fieldset fieldset {
  background-color: #F3F4EE;
}

div.description,
.form-item div.description {
  font-size: 11.5px;
  line-height: inherit;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  padding: 2px 0;
}

input.form-checkbox,
input.form-radio {
    margin-right: 3px;
}

.form-item label.option .form-checkbox {
  margin-bottom: 4px;
}

.form-item label.option input {
  margin-right: 0.25em;
}

.form-submit {
  margin-top: 1.5em;
  margin-right: 0.5em;
}

.node-form .form-submit,
.node-form a.button {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.282;
  padding: 3px 11px;
}

.node-form #edit-actions .form-submit {
  font-size: 1.077em;
}

input.form-submit,
a.button,
.form-actions input.form-submit,
.form-actions a.button {
  background-color: #EEE;
  background: -moz-linear-gradient(#F5F5F5, #DCDCDC); /* FF 3.6+ */
  background: -ms-linear-gradient(#F5F5F5, #DCDCDC); /* IE10 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #DCDCDC)); /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#F5F5F5, #DCDCDC); /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#F5F5F5, #DCDCDC); /* Opera 11.10 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DCDCDC'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DCDCDC')"; /* IE8+ */
  background: linear-gradient(#F5F5F5, #DCDCDC); /* the standard */
  color: #444;
  font-weight: bold;
  padding: 5px 14px;
}

.node-form input#edit-submit,
.node-form input#edit-submit-1 {
  background-color: #AFDAED;
  background: -moz-linear-gradient(#C7E1F0, #9ecadb); /* FF 3.6+ */
  background: -ms-linear-gradient(#C7E1F0, #9ecadb); /* IE10 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C7E1F0), color-stop(100%, #9ecadb)); /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#C7E1F0, #9ecadb); /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#C7E1F0, #9ecadb); /* Opera 11.10 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C7E1F0', endColorstr='#9ecadb'); /* IE6 & IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#C7E1F0', endColorstr='#9ecadb')"; /* IE8+ */
  background: linear-gradient(#C7E1F0, #9ecadb); /* the standard */
  border: 1px solid #A3CCDE;
  border-left-color: #8EB7CD;
  border-right-color: #8EB7CD;
  border-bottom-color: #7691A2;
  color: #133B54;
}

input.form-submit:active,
.form-actions input.form-submit:active,
.node-form input#edit-submit:active,
.node-form input#edit-submit-1:active {
  background: #7B7C79;
  color: #fff;
  border-color: #6B6C66;
  text-shadow: #222 0px -1px 0px;
}

.node-form input#edit-submit:active,
.node-form input#edit-submit-1:active {
  background: #03628B;
  border-color: #03628B;
}

#node-admin-buttons .form-submit,
.container-inline .form-submit,
fieldset .form-submit {
  margin-top: 0;
}

form div.buttons {
  text-align: left;
}

form .vertical-tabs + div.buttons {
  padding-left: 270px;
}

.container-inline {
  margin-top: 10px;
}

.container-inline .form-item {
  margin-right: 0.75em;
}

html.js .resizable-textarea textarea,
html.js .resizable-textarea .grippie {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html.js .resizable-textarea .grippie {
  background-color: #F3F4EE;
  border-color: #D3D4CF;
  padding: 5px 0;
}

.form-actions .seperator {
  margin-left: -0.25em;
  margin-right: 0.25em;
}

.exposed-filters .form-item {
  margin: 0 0 0.5em;
}

/**
 * Fieldsets
 */
fieldset {
  border: 1px solid #D3D4CF;
}

html.js fieldset.collapsed {
  margin-bottom: 10px;
  padding-bottom: 0;
}

html.js fieldset.collapsible .fieldset-legend {
  background: none;
}

.fieldset-description {
  font-size: 11.5px;
  margin-bottom: 10px;
}

/**
 * Table drag
 */
.tabledrag-toggle-weight-wrapper,
form .field-multiple-table-wrapper .tabledrag-toggle-weight-wrapper {
  margin-bottom: 0;
}

.tabledrag-toggle-weight {
  font-size: 0.8461em;
  line-height: 1.8181;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.tabledrag-toggle-weight:active,
.tabledrag-toggle-weight:focus {
  position: static !important;
  clip: auto;
}

table table tr.draggable td {
  padding: 5px;
}

/**
 * Shortcut links
 */
ul.action-links {
  float: left;
  margin: 0 0 9px 0;
  padding: 0;
}
#branding ul.action-links {
  margin-left: 12px;
}
ul.action-links li {
  background-color: #A6A7A2;
  border: none;
  border-radius: 4px;
  margin: 0 0.5em 0 0;
}
ul.action-links a {
  background: url("../images/add-sprite.png") no-repeat scroll 8px 7px;
  color: #fff;
  display: block;
  line-height: inherit;
  padding: 1px 8px 2px 22px;
}
ul.action-links a:hover,
ul.action-links a:active {
  background-position: 8px -43px;
  color: #0074BD;
  text-decoration: none;
}

/**
 * Forms ====================================
 */

#content-field-overview-form table {
  margin-top: 20px;
}

table th.select-all {
  width: 1em;
}

form.confirmation .form-actions {
  margin-top: 0;
}

/**
 * Manage/Display fields form
 */
#field-display-overview input.field-formatter-settings-edit,
input.field-formatter-settings-edit {
  margin-top: 0;
  padding: 2px 10px;
}

/**
 * Node forms
 */
.teaser-checkbox {
  top: 2px;
}

.node-form #edit-title {
  font-size: 1.333em;
}

.node-form .node-form-options .form-type-checkbox {
  margin: 0;
}

#edit-teaser-include-wrapper {
  padding-right: 0;
}

#edit-status-wrapper,
#edit-promote-wrapper,
#edit-sticky-wrapper {
  margin: 0;
}

div.node-form input.form-text,
div.node-form .resizable-textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.filter-tips-more {
  font-size: 11.5px;
}

.field-edit-link {
  font-weight: normal;
  text-transform: none;
}

/**
 * CCK field widgets
 * TODO: update this section.
 */
.content-multiple-table th {
  background: transparent;
  border: none;
  font-weight: bold;
}

fieldset .content-multiple-table th {
  text-transform: none;
}

.content-add-more {
  font-size: 11.5px;
  margin-bottom: 10px;
}

.content-add-more .form-submit {
  background: transparent;
  border: none;
  color: #0074BD;
  letter-spacing: 0;
  padding: 0;
}

/**
 * Users form
 */

#user-admin-account table .item-list ul {
  margin: 0 0 0 1.2em;
}

/**
 * Reports =================================
 */

/**
 * Recent journal entries
 */
#dblog-admin-buttons .form-submit {
  margin-top: 3em;
}

/**
 * Status report, Available updates, Translation updates
 */
table.system-status-report,
table.update {
  border: 12px solid #F3F4EE;
  margin-top: 10px;
}

table.system-status-report tr,
table.update > tbody > tr > td {
  border-bottom: 1px solid #F3F4EE;
}

table tr.ok th,
table tr.ok td {
  background-color: #FFF !important;
}

table tr.info th,
table tr.info td {
  background-color: #F5FAFF !important;
}

table tr.warning th,
table tr.warning td,
table tr .warning {
  background-color: #FFE !important;
}

table.system-status-report tr.ok td.status-icon div {
  background-image: url("../images/ok.png") !important;
}

table.system-status-report tr.warning td.status-icon div {
    background-image: url("../images/warning.png");
}

table.system-status-report tr.error td.status-icon div {
    background-image: url("../images/error.png");
}

table.update tr.even {
  background: #FFF;
}

table.update tr.unknown,
table.update tr .unknown {
  background-color: #F3F4EE;
}

table.update .project {
  margin: 0;
  padding: 4px 0;
}

table.update .versions table,
table.update .versions table td {
  border: none;
  margin: 0;
}

.update table.version .version-title {
  padding-left: 0;
}

table.update .versions,
table.update .info {
  padding: 1.5em 1em 0.25em;
}

.l10n-update-wrapper table,
.l10n-update-wrapper table td {
  border: none;
}

/**
 * Tables ====================================
 */
table,
table th,
table tr.odd,
table tr.even {
  border-color: #E3E4DF;
}

tr.even {
  background: none repeat scroll 0 0 #FAFAF8;
}

table td {
  border-bottom: 1px solid #E3E4DF;
  color: #333;
  vertical-align: top;
}
table th {
  background: #F1F2EC;
  border-width: 1px 0;
  color: #333;
  font-size: 11.5px;
  letter-spacing: 0.5px;
}

table th a {
  color: #333;
  text-decoration: underline;
}

table th.active {
  background-color: #E7E8E0;
}

tr td:last-child {
  border-right: 0 none;
}

table caption {
  font-weight: bold;
  font-size: 1.1666em;
  margin: 0;
  padding: 4px 0;
  text-align: left;
}

table.sticky-header {
  border: none;
}

/**
 * Overlay ======================================
 */
.overlay #branding {
  color: #333;
  padding-left: 10px;
}

.overlay #branding a {
  color: #333;
}

.overlay #page {
  padding: 10px 10px 20px;
}

body.overlay.toolbar #branding {
}

#overlay-tabs {
  bottom: -2px;
  font-size: 1em;
  line-height: 27px;
  margin: -28px 0 0;
  right: 23px;
}

#overlay-tabs li a,
#overlay-tabs li a:active,
#overlay-tabs li a:visited,
#overlay-tabs li a:hover {
  font-size: 1em;
}

#overlay-tabs li {
  float: left;
  margin: 0 0 0 1px;
}

.overlay ul.secondary {
  margin: 0;
}

#overlay-close,
#overlay-close:hover {
  background-image: url("../images/overlay-close.png");
}

#overlay-content {
  padding: 5px 10px;
}

/**
 * Toolbar ===========================================
 */
body.toolbar {
  padding-top: 0 !important;
}

body.toolbar #branding {
  padding-top: 56px;
}
body.toolbar.toolbar-drawer #branding {
  padding-top: 91px;
}

/**
 * Date ==============================================
 */

.node-form fieldset .container-inline-date > .form-item {
  border: none;
  float: left;
  margin-right: 2%;
  position: relative;
  width: 22em;
}

/* Quick temporary fix until a solution is found for http://drupal.org/node/1248786 */
.node-form fieldset .container-inline-date > .form-item > label {
  left: -2em;
  position: absolute;
  top: 2.2em;
}

.node-form fieldset .container-inline-date + .container-inline-date,
.node-form fieldset .container-inline-date .form-item .form-item .description {
  clear: none;
}

fieldset.date-combo .container-inline-date .date-padding {
  float: left;
  padding: 0;
}

.node-form fieldset .container-inline-date .form-item .form-item label {
  font-weight: normal;
}

.node-form .container-inline-date .form-item,
.node-form .container-inline-date .form-item input {
  width: auto;
}

.node-form #field-date-items table.sticky-header {
  display: none;
}

.node-form #edit-field-date fieldset {
  clear: both;
}

/**
 * Contact Information module =========================
 */

#edit-contactinfo-org {
  width: 24em;
}

#contactinfo-admin-settings .form-item-contactinfo-use-site-name {
  padding-top: 2.5em;
}


/**
 * Active tags ========================================
 * TODO: Remove?
 */

input.tag-entry {
  margin-right: 5px;
  margin-top: 0;
}

.tag-tag, .tag-popular {
  margin: 2px 3px;
  padding: 3px 7px;
  white-space: nowrap;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  border-radius: 3em;
}

.tag-holder {
  margin-bottom: 10px;
}

input.add-tag {
  background: url(../images/buttons.png) 0px 0 repeat-x;
  border: 1px solid #BBB;
  color: #333;
  cursor: pointer;
  padding: 2px 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/**
 * Node relationships ==========================
 * TODO: Remove?
 */

.form-item .noderelationships-nodereference-autocomplete,
.content-add-more .noderelationships-nodereference-add-more {
  margin-right: 10px;
  width: auto !important;
}

.form-item .noderelationships-nodereference-autocomplete,
.noderelationships-nodereference-buttons-wrapper {
  display: block;
  float: left;
}

.noderelationships-nodereference-buttons-wrapper + .description {
  clear: both;
}

@media screen and (max-width: 767px) {
  #branding {
    padding-left: 18px;
    padding-right: 18px;
  }

  #page {
    margin-left: 18px;
    margin-right: 18px;
  }
}

/**
 * CTools/Page manager ================================
 */
#edit-pages-apply,
#edit-pages-reset,
#ctools-export-ui-list-form .form-submit {
  border-radius: 5px;
  font-size: 0.885em;
  font-weight: normal;
  letter-spacing: 0.25px;
  margin-top: 2.7em;
  margin-bottom: 0;
  padding: 4px 6px 3px;
  text-transform: uppercase;
}

form#page-manager-list-pages-form {
  float: left;
}

/**
 * Rules Admin ==========================
 */

.rules-elements-table ul.rules-operations-add a {
  background-position: 0 center;
  display: inline;
  line-height: inherit;
  padding: 2px 0 2px 15px;
}

#rules-form-wrapper .action-links li {
  background: none transparent;
  border: none;
}

/**
 * Better Exposed Filters ======================
 */
.view-exposed-filters-bef-links .view-filters {
  float: left;
  width: 20%;
}

.view-exposed-filters-bef-links .view-content {
  float: left;
  padding-top: 0.45em;
  width: 80%;
}

.view-exposed-filters-bef-links .views-exposed-form .views-exposed-widget {
  float: none;
}

ul.bef-select-as-links {
  border-top: 1px solid #D3D4CF;
  list-style-type: none;
  margin: 0;
}

ul.bef-select-as-links li {
  border-bottom: 1px solid #D3D4CF;
}

ul.bef-select-as-links .bef-select-as-links-selected,
ul.bef-select-as-links a {
  display: block;
  padding: 4px 0;
}
ul.bef-select-as-links a:hover {
  background: #F3F4EE
}

ul.bef-select-as-links .bef-select-as-links-selected {
  background: url(../images/task-item.png) no-repeat scroll 100% center transparent;
  font-weight: bold;
  padding-right: 10px;
}

/**
 * Hierarchical Select ======================
 */
tr.dropbox-entry.first {
  border-top: 1px solid #DFDFDF;
}

tr.dropbox-entry.last {
  border-bottom: 1px solid #DFDFDF;
}

tr.dropbox-entry.odd,
tr.dropbox-entry.even {
  background-color: #EDF5FA;
  border-bottom: 1px solid #DFDFDF;
}

td.dropbox-remove *,
td.dropbox-remove a:link,
td.dropbox-remove a:visited {
  color: #0074BD;
}

/**
 * Editable Fields ==========
 */
.editablefield-hover-link {
  margin: -8px;
  padding: 8px;
  white-space: nowrap;
}

.editablefield-item .form-actions .form-submit {
  border-radius: 5px 5px 5px 5px;
  font-size: 0.885em;
  font-weight: normal;
  letter-spacing: 0.25px;
  margin: 0;
  padding: 4px 6px 3px;
  text-transform: uppercase;
}
