/**
 * @file
 * Dashboard module styles for Boulton theme.
 */

#dashboard div.dashboard-region {
  float: left;
  min-height: 1px;
}

#dashboard div#dashboard_main {
  width: 64.5%;
  margin-right: 1.5%;
}

#dashboard div#dashboard_sidebar {
  width: 33%;
}

#dashboard div.block {
  margin-bottom: 20px;
}

#dashboard .dashboard-region .block {
  border-color: #D3D4CF;
  clear: both;
}

#dashboard .dashboard-region div.block h2 {
  background: none;
  text-transform: uppercase;
}

#dashboard div.block h2 {
  float: none;
  padding: 6px 9px 3px;
}

#dashboard div.block div.content {
  padding: 10px;
}

#dashboard #disabled-blocks .block,
#dashboard .block-placeholder {
  background: #e2e1dc;
  padding: 6px 4px 6px 8px;
  margin: 3px 3px 3px 0;
  float: left;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#dashboard .dashboard-add-other-blocks {
  margin: 10px 0 0 0;
}

#dashboard .ui-sortable {
  border: 1px dashed #bfdcee;
  padding: 10px 10px 0;
}

#dashboard .canvas-content {
  padding: 0 0 10px;
}

#dashboard #disabled-blocks .ui-sortable {
  padding: 0;
  background-color: #777;
  border: 0;
}

#dashboard .canvas-content a.button {
  margin: 0 0 0 10px;
  color: #5a5a5a;
  text-decoration: none;
}

#dashboard #disabled-blocks .region {
  background-color: #E0E0D8;
  border: #D3D4CF 1px solid;
  padding: 10px;
}

#dashboard #disabled-blocks {
  padding: 0 0 10px;
}

#dashboard #disabled-blocks h2 {
  display: inline;
  font-weight: normal;
  white-space: nowrap;
}

#dashboard #disabled-blocks .block {
  background: #444;
  color: #fff;
}

#dashboard.customize-inactive #disabled-blocks .block:hover {
  background: #0074BD;
}

#dashboard #disabled-blocks .block .content,
#dashboard .ui-sortable-helper .content {
  display: none;
}

#dashboard .ui-sortable .block {
  cursor: move;
  min-height: 1px;
}

#dashboard .disabled-blocks .block h2 {
  background: transparent;
  padding: 0 17px;
}

#dashboard.customize-inactive #disabled-blocks .block:hover h2 {
  background: #0074BD;
  color: #fff;
}

#dashboard.customize-inactive .dashboard-region .ui-sortable .block:hover h2 {
  background: #0074BD;
}

#dashboard .dashboard-region .block-placeholder {
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
  height: 1.6em;
  width: 100%;
}

#dashboard #disabled-blocks .block-placeholder {
  width: 30px;
  height: 1.6em;
}
