
#dblog-filter-form .form-item-type,
#dblog-filter-form .form-item-severity {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
#dblog-filter-form .form-type-select select {
  width: 100%;
}
#dblog-filter-form .form-actions {
  float: left;
  padding: 2.75em 0 0 1em;
}

tr.dblog-user {
  background: #ffd;
}
table tr.dblog-user td.active {
  background: #eed;
}
tr.dblog-content {
  background: #ddf;
}
table tr.dblog-content td.active {
  background: #cce;
}
tr.dblog-page-not-found,
tr.dblog-access-denied {
  background: #DFD;
}
table tr.dblog-page-not-found td.active,
rable tr.dblog-access-denied td.active {
  background: #CEC;
}
tr.dblog-error {
  background: #ffc9c9;
}
table tr.dblog-error td.active {
  background: #eeb9b9;
}
table#admin-dblog td.icon {
  background: no-repeat center;
  width: 16px;
}
table#admin-dblog tr.dblog-warning td.icon {
  background-image: url("../images/warning.png");
}

table#admin-dblog tr.dblog-error td.icon {
  background-image: url("../images/error.png");
}
