
/* Field display */
.field .field-label {
  font-weight: bold;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
  float:left; /*LTR*/
}

/* Form display */
form .field-multiple-table {
  border: none;
  margin: 0;
}

form .field-multiple-table th,
form .field-multiple-table th.field-label {
  background-color: transparent;
  border: none;
  font-size: 1.08333em;
  letter-spacing: 0;
  padding: 0;
}

form .field-multiple-table tr {
  border: none;
}

form .field-multiple-table tbody {
  border-top: 1px solid #D3D4CF;
}

form .field-multiple-table td.field-multiple-drag {
  padding-right: 0; /*LTR*/
  width: 30px;
}

form .rows-count-1 td.field-multiple-drag {
  padding-left: 0; /*LTR*/
  width: 0;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: .5em; /*LTR*/
}

form .rows-count-1 td.field-multiple-drag a.tabledrag-handle {
  display: none;
}

form .field-add-more-wrapper {
  background-color: #E5EFF4;
  border-bottom: 1px solid #D3D4CF;
  padding-left: 10px;
}

form .field-add-more-wrapper .ajax-progress {
  float: none;
  font-size: 0.9em;
  padding-top: 3px;
}

form .field-add-more-submit,
.node-form .field-add-more-submit,
form input.field-add-more-submit:active {
  background: url(../images/add.png) no-repeat scroll center left transparent;
  border: none;
  border-radius: 0;
  color: #0074BD;
  font-size: 1em;
  letter-spacing: 0;
  margin: 0;
  padding: 4px 0 4px 11px;
  text-shadow: none;
}

form .field-add-more-submit[disabled] {
  background-color: transparent;
  color: #0074BD;
  opacity: 0.4;
}

form .field-add-more-submit:hover {
  text-decoration: underline;
}