/**
 * @file
 * Conditional CSS for IE8 and below.
 */

/* IE7 renders legends in nested fieldsets without a width. */
fieldset legend {
  height: 1%;
}

/* IE renders absolute positioned legend where fieldset content starts. */
fieldset .fieldset-legend {
  left: 0;
  top: 0;
}
