/**
 * @file
 * TinyMCE styles.
 *
 * @todo Turn this into a proper skin.
*/

/* WYSIWYG */
body.mceContentBody {
  background-color: #FFF;
  padding: 10px;
}

span.mceEditor.defaultSkin {
  background: #F3F4EE;
  border: 1px solid #D3D4CF;
  display: block;
  padding-top: 5px;
}

.defaultSkin table.mceLayout,
.defaultSkin table.mceLayout tr.mceFirst td,
.defaultSkin table.mceLayout tr.mceLast td {
  border: none !important;
}

.defaultSkin .mceIframeContainer {
  background-color: #FFF;
  border-color: #D3D4CF !important;
  border-right: 0 none;
}

.defaultSkin .mceStatusbar {
  background: #F3F4EE;
  color: #333;
  font-size: 10px;
  text-transform: uppercase;
}

.defaultSkin .mceStatusbar div {
  color: #333;
  font-size: 10px;
  margin: 3px 8px 0 !important;
}

.defaultSkin .mceLayout td.mceToolbar {
  background-color: #F3F4EE;
  padding: 0 4px 2px 4px;
}

.defaultSkin td.mceToolbar .mceButton {
  background: #F3F4EE url(../images/buttons.png) repeat-x scroll 0 0;
  border-color: #D3D4CF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 1px 3px 1px;
  padding: 1px 2px;
}

.defaultSkin td.mceToolbar .mceSeparator {
  background: none;
  margin: 2px 2px 5px;
}

.defaultSkin td.mceToolbar .mceButton,
.defaultSkin td.mceToolbar .mceButtonEnabled,
.defaultSkin td.mceToolbar .mceListBoxEnabled .mceText,
.defaultSkin td.mceToolbar .mceListBoxEnabled .mceOpen,
.defaultSkin td.mceToolbar .mceSplitButtonEnabled a.mceAction,
.defaultSkin td.mceToolbar .mceSplitButtonEnabled .mceOpen {
  border-color: #B2B2B2;
}

.defaultSkin td.mceToolbar .mceButtonEnabled:hover,
.defaultSkin td.mceToolbar .mceListBoxEnabled .mceText:hover,
.defaultSkin td.mceToolbar .mceListBoxEnabled .mceOpen:hover,
.defaultSkin td.mceToolbar .mceListBoxEnabled:hover .mceText,
.defaultSkin td.mceToolbar .mceListBoxEnabled:hover .mceOpen,
.defaultSkin td.mceToolbar .mceSplitButtonEnabled a.mceAction:hover,
.defaultSkin td.mceToolbar .mceSplitButtonEnabled .mceOpen:hover,
.defaultSkin td.mceToolbar .mceSplitButtonEnabled:hover a.mceAction,
.defaultSkin td.mceToolbar .mceSplitButtonEnabled:hover .mceOpen {
  background-color: #DFDFDF;
  border-color: #666;
}

.defaultSkin td.mceToolbar a.mceButtonActive,
.defaultSkin td.mceToolbar a.mceButtonSelected {
  background: #CCC none;
  border: 1px solid #666;
}

.defaultSkin .mceListBox,
.defaultSkin .mceToolbar .mceSplitButton {
  background: transparent;
  width: auto;
}

.defaultSkin .mceListBox .mceText,
.defaultSkin .mceSplitButton a.mceAction {
  background-color: #F3F4EE;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-radius: 4px 0 0 4px;
  margin: 0 0 3px 1px;
  padding: 1px 2px;
}

.defaultSkin td.mceToolbar table.mceSplitButtonEnabled:hover a.mceAction,
.defaultSkin td.mceToolbar .mceSplitButtonHover a.mceAction,
.defaultSkin td.mceToolbar .mceSplitButtonSelected a.mceAction,
.defaultSkin .mceMenuItemTitle a {
  background-color: #F3F4EE;
}

.defaultSkin td.mceToolbar table.mceSplitButtonEnabled:hover td.mceLast a.mceOpen {
  background-color: #FFF;
}

.defaultSkin td.mceToolbar .mceListBox .mceOpen,
.defaultSkin td.mceToolbar .mceSplitButton .mceOpen {
  background-color: #F3F4EE;
  background-position: -739px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-radius: 0 4px 4px 0;
  margin: 0 1px 3px 0;
  padding: 1px 2px;
}

.defaultSkin td.mceToolbar .mceButtonDisabled,
.defaultSkin td.mceToolbar .mceListBoxDisabled,
.defaultSkin td.mceToolbar .mceSplitButtonDisabled {
  border-color: #CBCBCB;
}

.wysiwyg-toggle-wrapper {
  border-color: #D3D4CF;
  border-style: none solid;
  border-width: 0 1px;
  font-size: 11.5px;
  line-height: 1.2;
  padding: 5px 8px;
}

.wysiwyg-toggle-wrapper a {
  padding: 2px 0;
}

.resizable-textarea + .wysiwyg-toggle-wrapper {
  margin-top: -1px;
  border-top: 1px solid #D3D4CF;
}

/* popup dialogs */
#mceModalBlocker {
  background-color: #000;
}

/* Inline popups plugin */
body .clearlooks2_modalBlocker {
  background-color: #333;
}

body .clearlooks2 .mceFocus .mceClose,
body .clearlooks2 .mceFocus .mceClose:hover {
	background-position: -87px 0;
}

body .clearlooks2 .mceMiddle span {
  background: transparent;
}

body .clearlooks2 .mceMove,
body .clearlooks2 .mceBottom .mceLeft,
body .clearlooks2 .mceBottom .mceRight {
  background: transparent none;
}

body .clearlooks2 .mceFocus .mceTop .mceLeft,
body .clearlooks2 .mceFocus .mceTop .mceCenter,
body .clearlooks2 .mceFocus .mceTop .mceRight,
body .clearlooks2 .mceTop .mceLeft,
body .clearlooks2 .mceTop .mceCenter,
body .clearlooks2 .mceTop .mceRight,
body .clearlooks2 .mceMiddle .mceLeft,
body .clearlooks2 .mceMiddle .mceRight,
body .clearlooks2 .mceBottom .mceCenter {
  background: #111 none;
  opacity: 0.6;
}

body .clearlooks2 .mceTop .mceLeft {
  -moz-border-radius: 8px 0 0 0;
  -webkit-border-top-left-radius: 8px;
  border-radius: 8px 0 0 0;
}

body .clearlooks2 .mceTop .mceRight {
  -moz-border-radius: 0 8px 0 0;
  -webkit-border-top-right-radius: 8px;
  border-radius: 0 8px 0 0;
}

body .clearlooks2 .mceMiddle .mceLeft {
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-radius: 8px 0 0 8px;
}

body .clearlooks2 .mceMiddle .mceRight {
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-radius: 0 8px 8px 0;
}

body .clearlooks2 .mceBottom .mceCenter {
  bottom: 0;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 0;
  width: auto;
}
