/**
 * @file
 * Override of misc/vertical-tabs.css.
 */

div.vertical-tabs {
  background: #fff url("../images/fc.png") repeat-y 0 0;
  border: 1px solid #D3D4CF;
  margin: 10px 0;
  position: relative;
}

div.vertical-tabs fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

div.vertical-tabs .vertical-tabs-list {
  border-bottom: 1px solid #D3D4CF;
  float: left;
  font-size: 1em;
  line-height: 1;
  margin: 0 -100% -1px 0;
  padding: 0;
  width: 240px;
}

div.vertical-tabs ul li.vertical-tab-button {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

div.vertical-tabs ul li.vertical-tab-button a {
  border-top: 1px solid #D3D4CF;
  display: block;
  padding: 10px;
}

div.vertical-tabs ul li.first a {
  border-top: 0;
}

div.vertical-tabs ul li.vertical-tab-button strong {
  font-size: 0.923em;
}

div.vertical-tabs ul li.vertical-tab-button .summary {
  color: #666;
  display: block;
  font-size: 0.846em;
  padding-top: 0.4em;
}

div.vertical-tabs ul li.vertical-tab-button a:hover,
div.vertical-tabs ul li.vertical-tab-button a:focus {
  background: #d4d5d1;
  text-decoration: none;
  outline: 0;
}

div.vertical-tabs ul li.selected a,
div.vertical-tabs ul li.selected a:hover,
div.vertical-tabs ul li.selected a:focus,
div.vertical-tabs ul li.selected a:active {
  background: #fff;
  border-right-color: #fff;
  border-top: 1px solid #D3D4CF;
}

div.vertical-tabs ul li.first.selected a,
div.vertical-tabs ul li.first.selected a:hover {
  border-top: 0;
}

div.vertical-tabs ul li.selected a:focus strong {
  text-decoration: underline;
}

div.vertical-tabs .vertical-tabs-panes {
  margin: 0 0 0 250px;
  padding: 10px 15px 10px 0;
}

div.vertical-tabs .vertical-tabs-panes legend {
  display: none;
}

.vertical-tabs-pane .fieldset-wrapper > div:first-child {
  padding-top: 5px;
}
