/**
 * Edit view form.
 */
#views-ui-edit-form .form-actions .seperator {
  margin-left: 0.5em;
}

.views-admin h1.unit-title {
  margin-bottom: 10px;
}

.views-display-top {
  border-bottom: none;
}

#views-preview-wrapper {
  border-top: none;
}

#views-live-preview {
  margin: 10px 14px;
}

.views-admin span.icon {
  margin-right: 1px;
}

.views-displays .secondary a:hover,
.views-displays .secondary .active a {
  border-color: transparent;
}
.views-displays .secondary .open a:hover {
  border-color: #CBCBCB;
  border-bottom: 1px solid transparent;
}
.views-admin span.icon.add,
.views-displays .secondary .open a:hover > .icon.add {
  background-position: center 4px;
}

.views-displays .secondary .action-list {
  top: 24px;
}
.views-displays .secondary .action-list li {
  padding: 3px 9px;
}
.views-displays .secondary .action-list input.form-submit {
  font-size: 1em;
  font-weight: normal;
}

.views-ui-dialog .scroll {
  border: none;
}