.views-exposed-form label {
  font-weight: bold;
  text-transform: uppercase;
}

.views-exposed-widgets .views-widget .form-item {
  padding-top: 2px;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2.2em;
  padding: 1px 15px 2px;
}

.views-table .views-field-type {
  font-weight: bold;
}

.views-table th.views-field-status,
.views-table td.views-field-status {
  text-align: center;
  width: 5em;
}

.views-table tr.node-unpublished {
  background: #FEF5F1;
}

.views-table tr.node-unpublished td.active {
  background: #F3E9E4;
}

.views-table tr.node-unpublished td.views-field-status {
  color: #9F2E0B;
}

.views-table tr.node-unpublished + tr.node-unpublished {
  border-top: 1px solid #F3E9E4;
}

.views-table tr.node-published td.views-field-status {
  background: url(../images/ok.png) no-repeat scroll 50% 10px transparent;
  overflow: hidden;
  text-align: left;
  text-indent: -9999em;
}

/**
 * VBO
 */
.view fieldset#edit-select {
  border-style: solid none none;
  border-width: 1px 0 0;
  padding-top: 5px;
}

.view fieldset#edit-select > legend {
  display: none;
}

.view fieldset#edit-select .form-item-operation {
  float: left;
  margin-bottom: 0;
}

/* Execute button */
.view fieldset#edit-select #edit-submit {
  float: left;
  margin: 9px 0 0 1em;
  padding: 1px 15px 2px;
}

/**
 * Node operations field
 */
.views-table tr ul.node-operations-links {
  font-size: 0.923em;
  visibility: hidden;
}

.views-table tr:hover ul.node-operations-links {
  visibility: visible;
}
